
$color-red1: #cc241d;
$color-green1: #98971a;
$color-yellow1: #458588;
$color-blue1: #458588;
$color-purple1: #b16286;
$color-aqua1: #689d6a;
$color-gray1: #a899a4;
$color-gray2: #928374;
$color-red2: #cc241d;
$color-green2: #b16286;
$color-yellow2: #fabd2f;
$color-sidebars: #fabd2f;
$color-blue2: #458588;
$color-purple2: #b16286;
$color-aqua2: #689d6a;

$color-fg: #504945;
$color-fg0: #282828;
$color-fg1: #3c3836;
$color-fg2: #3c3836;
$color-fg3: #504945;
$color-fg4: #665c54;

$color-bg4: #a89984;
$color-bg3: #bdae93;
$color-bg2: #d5c4a1;
$color-bg1: #ebdbb2;
$color-bg: #fbf1c7;
$color-bg0: mix(#ebdbb2, #fbf1c7, 50%);
$color-bg0s: #fbf1c7;
$color-bg0h: #fbf1c7;

$color-orange1: #d65d0e;
$color-orange2: #fe8019;

/*$color-bg: #282828;
$color-red1: #cc241d;
$color-green1: #98971a;
$color-yellow1: #d79921;
$color-blue1: #458588;
$color-purple1: #b16286;
$color-aqua1: #689d6a;
$color-gray1: #a899a4;
$color-gray2: #928374;
$color-red2: #fb4934;
$color-green2: #b8bb26;
$color-yellow2: #fabd2f;
$color-blue2: #83a598;
$color-purple2: #d3869b;
$color-aqua2: #8ec07c;
$color-fg: #ebdbb2;
$color-bg0h: #1d2021;
$color-bg0: #282828;
$color-bg1: #3c3836;
$color-bg2: #504945;
$color-bg3: #665c54;
$color-bg4: #7c6f64;
$color-orange1: #d65d0e;
$color-bg0s: #32302f;
$color-fg4: #a89984;
$color-fg3: #bdae93;
$color-fg2: #d5c4a1;
$color-fg1: #ebdbb2;
$color-fg0: #fbf1c7;
$color-orange2: #fe8019;*/