@import 'colors';

$color-page-bg: $color-gray1;
$color-sidebar: $color-yellow2;
$color-content-bg: $color-gray2;
$color-content-text: $color-gray11;
$color-link: $color-yellow1;
$color-link-hover: $color-gray12;
$color-link-underline: $color-gray6;
$color-h1: $color-gray11;
$color-h2: $color-yellow2;
$color-h3: $color-green2;
$color-list-marker: $color-gray8;

$color-code-tag-bg: $color-gray1;
$color-code-tag-text: $color-gray10;
$color-code-tag-em: $color-yellow2;
$color-code-tag-strong: $color-purple2;
$color-code-tag-border: $color-gray7;

$color-hr: $color-gray6;

$color-quote-hr: $color-gray7;
$color-quote-text: $color-gray9;
$color-quote-bg: $color-gray4;
$color-quote-h1: $color-blue2;
$color-quote-h2: $color-purple2;
$color-quote-h3: $color-red2;
$color-quote-h4: $color-gray8;
$color-quotation-mark: $color-gray6;

$color-code-bg: $color-gray1;
$color-code-border: $color-gray7;
$color-linenos-separator: $color-gray4;
$color-copy-link: $color-gray8;
$color-copy-link-hover: $color-gray12;

$color-footer-text: $color-gray7;
$color-footer-link: $color-blue2;
$color-footer-link-hover: $color-gray11;
$color-footer-mode-off: $color-gray5;

$color-nav-link: $color-blue1;
$color-nav-link-hover: $color-yellow2;
$color-nav-link-selected: $color-yellow2;

$color-thumb-border: $color-gray5;
$color-thumb-icon: $color-gray7;
$color-thumb-title: $color-yellow1;
$color-thumb-desc: $color-gray9;

$color-table-head-bg: $color-gray4;
$color-table-head-text: $color-gray11;
$color-table-body-bg: $color-gray1;
$color-table-body-text: $color-gray9;
$color-table-row-separator: $color-gray2;

$color-quote-table-head-bg: $color-gray5;
$color-quote-table-body-bg: $color-gray2;
$color-quote-table-body-text: $color-gray10;
$color-quote-table-row-separator: $color-gray4;

$color-page-meta-text: $color-gray7;
$color-prev-next-border: $color-gray11;
$color-prev-next-text: $color-gray9;
$color-prev-next-link: $color-yellow1;
$color-prev-next-link-hover: $color-gray11;

$color-feedback-text: $color-gray8;
$color-feedback-link: $color-blue2;
$color-feedback-link-hover: $color-gray11;