body {
    background-color: $color-page-bg;
}

.upper {
    padding-top: 5px;
}
.upper-side {
    background-image: url(/img/bars_2.png);
    background-size: auto #{'min(8.5vw, 47px)'};
}

.title {
    width: #{'min(100vw, 800px)'};
    height: #{'min(8.514vw, 47px)'};
}
.title-side {
    background-image: url(/img/bars_3.png);
    background-size: auto #{'min(8.514vw, 47px)'};
}
.title-center {
    width: #{'min(100vw, 552px)'};
    background-image: url(/img/title.png);
    background-size: auto #{'min(8.514vw, 47px)'};
}

.lower {
    min-height: 100vh;
}
.lower-center {
    width: #{'min(100vw, 800px)'};
}

.inner-side {
    width: #{'min(1.75vw, 10px)'};
    background-color: $color-sidebar;
}
.inner {
    max-width: 100vw;
}

@media(max-width: 572px) {
    .inner-side {
        display: none;
    }
}

.content {
    background-color: $color-content-bg;
    color: $color-content-text;
    
    font-family: 'regular';
    font-weight: 400;
    font-size: 18px;

    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
}

em {
    font-style: italic;
    font-weight: 300;
}

h1 {
    font-family: 'header';
    font-weight: normal;
    margin-top: 0;
    color: $color-h1;
    border-bottom: 3px dotted $color-h1-underline;
    text-transform: uppercase;
}

h2 {
    font-size: 1.7em;
    color: $color-h2;
    border-bottom: 3px dotted $color-h2-underline;
    margin-top: 1.5em;
    margin-bottom: 1.25em;
}

h3 {
    font-size: 1.25em;
    color: $color-h3;
    border-bottom: 2px dotted $color-h3-underline;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

ul, ol {
    line-height: 1.36;
}
li {
    padding-left: 2px;

    &::marker {
        color: $color-list-marker;
    }
}

p {
    line-height: 1.6;

    code {
        font-family: "code", monospace;
        font-size: 0.8em;
        color: $color-code-tag-text;
        background-color: $color-code-tag-bg;
        border: 1px dotted $color-code-tag-border;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
    }

    em {
        code {
            color: $color-code-tag-em;
            font-style: normal;
            font-weight: normal;
        }
    }

    strong {
        code {
            color: $color-code-tag-strong;
            font-style: normal;
            font-weight: normal;
        }
    }

    img {
        max-width: 100%;
    }
}

p > a, li > a, em > a, strong > a {
    text-decoration: 1.5px solid underline;
    color: $color-link;
    text-decoration-color: $color-link;
    &:hover {
        color: $color-link-hover;
        text-decoration-color: $color-link-hover;
    }
}

li > a {
    text-decoration: 0 solid none;
}

.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

hr {
    border: none;
    border-bottom: 2px dotted $color-hr;
}

blockquote hr {
    border-color: $color-quote-hr;
}

.blockquote-h {
    font-family: "header";
    font-size: 1em;
    border-bottom: 2px dotted;
    margin-top: 10px;
    text-transform: uppercase;

    i {
        color: inherit;
        font-size: 1em;
        margin-right: 5px;
        float: left;
    }
}

blockquote {
    color: $color-quote-text;
    background-color: $color-quote-bg;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px 10px 1px 10px;

    p {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        @extend .blockquote-h;
        color: $color-quote-h1;
        border-color: $color-quote-h1;
        margin-bottom: 1em;
    }

    h2 {
        @extend .blockquote-h;
        color: $color-quote-h2;
        border-color: $color-quote-h2;
        margin-bottom: 1em;
    }

    h3 {
        @extend .blockquote-h;
        color: $color-quote-h3;
        border-color: $color-quote-h3;
        margin-bottom: 1em;
    }

    h4 {
        @extend .blockquote-h;
        color: $color-quote-h4;
        border-color: $color-quote-h4;
        margin-bottom: 1em;
    }
}

.quote {
    font-size: 1.4em;
    color: $color-quotation-mark;
    margin-right: 10px;
    float: left;
}

.right {
    float: right;
}

pre {
    font-family: 'code';
    font-size: 0.8em;
    border: 1px dotted $color-code-border;
    counter-reset: line;
    background-color: $color-code-bg !important;
    overflow-x: auto;

    padding: 10px;
    line-height: 1.5;

    * {
        font-family: inherit;
    }

    code table {
        table-layout: fixed;
        border-spacing: 0;

        tbody {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        tbody tr {
            td {
                table-layout: fixed;
                &:first-child {
                    border-right: 1px solid $color-linenos-separator;
                    padding-right: 10px;
                    padding-left: 0;
                    user-select: none;
                }
                &:last-child {
                    padding-left: 10px;
                    width: 100%;
                }
            }
            mark {
                background-color: $color-gray4 !important;
                color: $color-gray12 !important;
            }
        }
    }
}

.code-buttons {
    position: relative;
    float: right;
    right: 5px;
    height: 0;
}

.code-link {
    font: inherit;
    font-size: 0.75em;
    color: $color-copy-link;
    text-decoration: none;
    border: none;

    &:hover {
        color: $color-copy-link-hover;
        cursor: pointer;
    }
}

.footer {
    font-family: 'regular';
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 20px;
    margin-bottom: 120px;
    color: $color-footer-text;
    text-align: center;
    
  
    a {
        color: $color-footer-link;
        text-decoration: none;
        font-family: "code", monospace;
        font-size: 0.9em;

        &:hover {
            color: $color-footer-link-hover;
        }
    }
  
    i {
        width: 20px;
        text-align: center;
    }
  
    p {
        margin: 0;
        padding: 0;
    }
}

.nav-bar {
    padding-top: 20px;
}
  
.nav-link {
    display: block;

    font-family: 'regular';
    font-size: #{'min(3vw, 20px)'};
    font-weight: bold;
    line-height: 1.2em;
    color: $color-nav-link;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    margin-left: #{'min(1.5vw, 10px)'};
    margin-right: #{'min(1.5vw, 10px)'};

    user-select: none;
    border: none;

    &:hover {
        color: $color-nav-link-hover;
    }

    &.underline {
        border-bottom: #{'min(1.05vw, 7px)'} solid;
    }

    &.selected {
        border-color: $color-nav-link-selected;
        color: $color-nav-link-selected;
        pointer-events: none;
    }

    i {
        font-size: 1.67em;
    }
}

.thumb {
    display: block;
    user-select: none;
    background-color: $color-thumb-bg;
    border: 2px solid $color-thumb-border;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  
    .thumb-icon {
        vertical-align: middle;
        font-size: 1.5em;
        color: $color-thumb-icon;
        width: 1.4em;
    }
  
    .thumb-title {
        font-weight: 500;
        color: $color-thumb-title;
        padding-bottom: 5px;
    }
  
    .thumb-desc {
        color: $color-thumb-desc;
        font-weight: 300;
        font-size: 0.95em;
    }
  
    &:hover {
        cursor: pointer;
        background-color: $color-thumb-bg-hover;
        border-color: $color-thumb-border-hover;
    
        .thumb-icon {
            color: $color-thumb-icon-hover;
        }
    
        .thumb-title {
            color: $color-thumb-title-hover;
        }
    
        .thumb-desc {
            color: $color-thumb-desc-hover;
        }
    }
}

.table-style {
    font-family: 'code';
    font-size: 0.8em;
    line-height: 1.5em;
    //width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;

    border-spacing: 0;
    border-collapse: collapse;

    thead {
        text-align: left;
        background-color: $color-table-head-bg;
        color: $color-table-head-text;
        th {
            padding: 5px 20px 5px 20px;
        }
    }

    tbody {
        background-color: $color-table-body-bg;
        color: $color-table-body-text;
        td {
            padding: 3px 20px 3px 20px;
        }
        tr:not(:first-of-type) {
            border-top: 1px solid $color-table-row-separator;
        }
    }

    th:first-of-type {
        border-top-left-radius: 5px;
    }
    th:last-of-type {
        border-top-right-radius: 5px;
    }
    tr:last-of-type td:first-of-type {
        border-bottom-left-radius: 5px;
    }
    tr:last-of-type td:last-of-type {
        border-bottom-right-radius: 5px;
    }
}

.content > table {
    @extend .table-style;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    table {
        @extend .table-style;

        margin-left: 10px;
        thead {
            background-color: $color-quote-table-head-bg;
        }
        tbody {
            background-color: $color-quote-table-body-bg;
            color: $color-quote-table-body-text;
            tr:not(:first-of-type) {
                border-top: 1px solid $color-quote-table-row-separator;
            }
        }
    }
}

.page-meta {
    font-style: italic;
    font-weight: 400;
    font-size: 0.9em;
    color: $color-page-meta-text;
    text-align: right;
    margin-block-end: 0.5em;
}
  
#date {
    margin-right: 10px;
}

.prev-next {
    border-top: 3px dotted $color-prev-next-text;
    padding-top: 1em;
    margin-top: 2em;

    font-weight: 300;
    color: $color-prev-next-text;

    a {
        font-weight: bold;
        color: $color-prev-next-link;
        &:hover {
            color: $color-prev-next-link-hover;
        }
    }
}

.prev, .next {
    > div {
        margin-block-end: 0.25em;
    }
}

.next {
    text-align: right;
}

.section-thumbs {
    vertical-align: middle;

    > div {
        vertical-align: middle;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media(max-width: 572px) {
    .section-thumbs {
        > div {
            display: block;
            width: 100%;
            padding-right: 0;
        }
    }
}

#feedback {
    color: $color-feedback-text;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9em;

    a {
        //font-weight: 400;
        color: $color-feedback-link;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        &:hover {
            color: $color-feedback-link-hover;
        }
    }
}

.light-dark {
    font-size: 1.5em;
    i {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mode-on {
    pointer-events: none;
    color: $color-footer-mode-off;
}

.mode-off {
    color: $color-footer-link;
    pointer-events: auto;
    &:hover {
        color: $color-footer-link-hover;
        cursor: pointer;
    }
}