@import 'fonts';
@import 'colors';

body {
    background-color: $color-bg0h;
    font-family: 'regular';
    font-weight: 400;
    font-size: 16px;
}

.page-outer {
    display: flex;
    flex-direction: row;
}

.page-center {
    width: #{'min(100%, 800px)'};
    margin: 0 auto;
}

.page-side {
    flex: 1;
    img {
        width: 100%;
        height: 47px;
    }
}

.title-outer {
    display: flex;
    flex-direction: row;
}

.title {
    img {
        width: 100%;
        height: 47px;
    }
}

.title-side {
    flex: 1;
    img {
        width: 100%;
        height: 47px;
    }
}

.content-outer {
    display: flex;
    flex-direction: row;
}

.content-side {
    background-color: $color-yellow2;
    width: 10px;
}

.content {
    flex: 1;
    background-color: $color-bg0;
    color: $color-fg;
}