@import 'fonts';
@import 'colors';

body {
    background-color: $color-bg0h;
}

.upper {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}
.upper-side {
    flex: 1;
    background-image: url(/img/bars_2.png);
    background-size: auto #{'min(8.5vw, 47px)'};
}

.title {
    width: #{'min(100vw, 800px)'};
    height: #{'min(8.514vw, 47px)'};
    display: flex;
}
.title-side {
    flex: 1;
    background-image: url(/img/bars_3.png);
    background-size: auto #{'min(8.514vw, 47px)'};
}
.title-center {
    width: #{'min(100vw, 552px)'};
    background-image: url(/img/title.png);
    background-size: auto #{'min(8.514vw, 47px)'};
}

.lower {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.lower-side {
    flex: 1;
}
.lower-center {
    display: flex;
    flex-direction: row;
    width: #{'min(100vw, 800px)'};
}

.inner-side {
    width: #{'min(1.75vw, 10px)'};
    background-color: $color-yellow2;
}
.inner {
    flex: 1;
    max-width: 100vw;
}

@media(max-width: 572px) {
    .inner-side {
        display: none;
    }
}

.content {
    background-color: $color-bg0;
    color: $color-fg;
    
    font-family: 'regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;

    margin: 20px;
    padding: 20px;
}

a {
    color: $color-yellow1;
    text-decoration: 2.5px dotted underline;

    &:hover {
        color: $color-fg0;
        border-color: $color-fg0;
    }
}

em {
    font-style: italic;
    font-weight: 300;
}

h1 {
    font-family: 'header';
    font-weight: normal;
    margin-top: 0;
    border-bottom: 3px dotted;
    border-color: $color-fg;
    text-transform: uppercase;
}

h2 {
    color: $color-yellow2;
    border-bottom: 2px dotted;
    border-color: $color-yellow2;
}

h3 {
    color: $color-green2;
    border-bottom: 2px dotted;
    border-color: $color-green2;
}

p {
    code {
        font-family: "code", monospace;
        font-size: 0.8em;
        line-height: 0.8em;
        color: $color-fg2;
        background-color: $color-bg0h;
        border: 1px dotted $color-bg4;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
    }
    em {
        code {
            color: $color-yellow2;
            font-style: normal;
            font-weight: normal;
        }
    }
    strong {
        code {
            color: $color-purple2;
            font-style: normal;
            font-weight: normal;
        }
    }
}

.blockquote-h {
    font-family: "header";
    font-size: 1em;
    border-bottom: 2px dotted;
    margin-top: 10px;
}

blockquote {
    color: $color-fg3;
    background-color: $color-bg1;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px 10px 1px 10px;

    p {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        @extend .blockquote-h;
        color: $color-blue2;
        border-color: $color-blue2;
    }

    h2 {
        @extend .blockquote-h;
        color: $color-purple2;
        border-color: $color-purple2;
    }

    h3 {
        @extend .blockquote-h;
        color: $color-red2;
        border-color: $color-red2;
    }

    i {
        font-size: 1.4em;
        color: $color-bg3;
        margin-right: 10px;
        float: left;
    }
}

.right {
    float: right;
}

pre {
    font-family: 'code';
    font-size: 0.8em;
    border: 1px dotted $color-bg4;
    counter-reset: line;
    background-color: $color-bg0h !important;
    overflow-x: auto;

    * {
        font-family: inherit;
    }

    code table {
        table-layout: fixed;
        border-spacing: 0;

        tbody tr {
            td {
                table-layout: fixed;
                &:first-child {
                    border-right: 1px solid $color-bg1;
                    padding-right: 5px;
                    padding-left: 5px;
                    user-select: none;
                }
                &:last-child {
                    padding-left: 10px;
                    width: 100%;
                }
            }
            mark {
                background-color: $color-bg1 !important;
                color: $color-fg0 !important;
            }
            &:first-child td {
                padding-top: 5px;
            }
            &:last-child td {
                padding-bottom: 5px;
            }
        }
    }
}

.code-buttons {
    position: relative;
    float: right;
    right: 5px;
    height: 0;
}

.code-link {
    font: inherit;
    font-size: 0.75em;
    color: $color-fg4;
    text-decoration: none;
    border: none;

    &:hover {
        color: $color-fg0;
        cursor: pointer;
    }
}

.footer {
    font-family: 'regular';
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 20px;
    margin-bottom: 120px;
    color: $color-bg4;
    text-align: center;
    
  
    a {
        color: $color-blue2;
        text-decoration: none;
        font-family: "code", monospace;
        font-size: 0.9em;
    }
  
    i {
        width: 20px;
        text-align: center;
    }
  
    p {
        margin: 0;
        padding: 0;
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.nav-side {
    flex: 1;
}
  
.nav-link {
    display: block;

    font-family: 'regular';
    font-size: #{'min(3vw, 20px)'};
    font-weight: bold;
    line-height: 1.2em;
    color: $color-blue1;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    margin-left: #{'min(1.5vw, 10px)'};
    margin-right: #{'min(1.5vw, 10px)'};

    user-select: none;
    border: none;

    &:hover {
        color: $color-yellow2;
    }

    &.underline {
        border-bottom: #{'min(1.05vw, 7px)'} solid;
    }

    &.selected {
        border-color: $color-yellow2;
        color: $color-yellow2;
        pointer-events: none;
    }

    i {
        font-size: 1.67em;
    }
}