@import 'reset';
@import 'fonts';
@import 'colors';
@import 'flex-layout';

$title-w: 552px;
$title-h: 47px;
$page-w: 800px;
$shrink-w: 1000px;

/*
    Block quote for lingo:

    > # <i class="fa-solid fa-circle-question"></i> LINGO
    > 
    > Maybe there is some lingo you don't understand, since coders love to
    > drop mysterious acronyms at the speed of light. We've got you covered!

    Block for tip:

    > ## <i class="fa-solid fa-circle-info"></i> TIP
    > 
    > Here is a cool little thing that might help you! These might link to
    > additional reading material or other tutorials that expand on the
    > subject at hand. This way, we don't have to digress too much.

    Block quote for a warning:

    > ### <i class="fa-solid fa-triangle-exclamation"></i> WARNING
    > 
    > Just so you know, bad stuff could happen! Maybe I've told you to write
    > some bad `code` as an example, but want to warn you about the possible
    > repercussions.
*/

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.39em;
  background-color: $color-bg0h;
  color: $color-fg;
  height: 100vh;

  ::selection {
    background-color: $color-fg1;
    color: $color-bg0h;
  }
}

.page {
  margin-top: 20px;
}

.bars {
  height: $title-h;
  background-repeat: repeat-x;
}

.page-side {
  @extend .bars;
  background-image: url("img/bars_2.png");
  background-size: auto $title-h;
}

@media(max-width: $shrink-w) {
  .page-side {
    background-image: url("img/bars_3.png");
  }
}

.page-center {
  width: $page-w;
}

@media(max-width: $shrink-w) {
  .page-center {
    width: 100vw;
  }
}

.page-upper {
  height: $title-h;
}

.page-lower {
  min-height: 100vh;
}

.title-side {
  @extend .bars;
  background-image: url("img/bars_3.png");
  background-size: auto $title-h;
}

.title {
  width: $title-w;
  height: 100%;
  background-image: url("img/title.png");
  background-size: $title-w $title-h;
}

.side-bar {
  width: 10px;
  background-color: $color-yellow2;
}

@media(max-width: $shrink-w) {
  .side-bar {
    display: none;
  }
}

.inside-box {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  user-select: none;
  color: $color-blue1;
  border: none;

  &:hover {
    color: $color-yellow2;
  }

  &.underline {
    border-bottom: 5px solid;
  }

  &.selected {
    border-color: $color-yellow2;
    color: $color-yellow2;
    pointer-events: none;
  }

  i {
    font-size: 1.67rem;
  }
}

.content {
  background-color: $color-bg0;
  padding-top: 1px;
  padding-bottom: 20px;
}

@media(max-width: $shrink-w) {
  .content {
    font-size: 1.5em;
    line-height: 1.3em;
  }
}

h1 {
  color: $color-fg;
  font-size: 1.5em;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  line-height: 0.8em;
  letter-spacing: 2px;
  margin: 20px 10px 20px 10px;
  border-bottom: 2px dotted;
  border-color: $color-fg;
  padding-bottom: 10px;
  text-transform: uppercase;

  &.prev {
    color: $color-bg4;
    border-color: $color-bg4;
    margin-top: 80px;
    font-size: 1.2em;
  }

  &.next {
    color: $color-bg4;
    border-color: $color-bg4;
    text-align: right;
    margin-top: 80px;
    font-size: 1.2em;
  }
}

h2 {
  color: $color-yellow2;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $color-bg0h;
  margin: 20px 10px 20px 10px;
}

h3 {
  color: $color-green2;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8em;
  background-color: $color-bg0h;
  margin: 20px 10px 20px 10px;
}

@media(max-width: $shrink-w) {
  h2 {
    //font-size: 1.3em;
  }
  h2 {
    //font-size: 1.3em;
  }
}

a {
  font: inherit;
  color: $color-blue2;
  text-decoration: none;
  border-bottom: 2px dotted $color-blue2;
  font-weight: 400;

  i {
    font-size: 0.9em;
  }

  &:hover {
    color: $color-yellow2;
    border-color: $color-yellow2;
  }
}

p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

ul {
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;

  li {
    line-height: 1.3em;

    &:before {
      content: "\2794";
      padding-right: 7px;
    }
  }
}

em {
  font-style: italic;
  font-weight: 200;
}

strong {
  font-weight: 600;
}

hr {
  border: none;
  border-bottom: 2px dotted $color-bg4;
  margin-left: 20px;
  margin-right: 20px;
}

.code-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

td {
  font-weight: inherit;
  line-height: inherit;
}

p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  code {
    font-family: "Fira Code", monospace;
    font-size: 0.8em;
    line-height: 0.8em;
    background-color: $color-bg0h;
    border: 1px dotted $color-bg4;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
  }
}

pre {
  font-family: "Fira Code", monospace;
  font-size: 0.8em;
  border: 1px dotted $color-bg4;
  counter-reset: line;
  margin: 0 10px 20px 10px;
  background-color: $color-bg0h !important;
  line-height: 1.4em;

  code table {
    table-layout: fixed;
    tbody tr {
      td {
        table-layout: fixed;
        &:first-child {
          border-right: 1px solid $color-bg1;
          padding-right: 5px;
          padding-left: 5px;
          user-select: none;
        }
        &:last-child {
          padding-left: 10px;
          width: 100%;
        }
      }
      mark {
        background-color: $color-bg1 !important;
        color: $color-fg0 !important;
      }
      &:first-child td {
        padding-top: 5px;
      }
      &:last-child td {
        padding-bottom: 5px;
      }
    }
  }
}

.code-buttons {
  position: relative;
  right: 15px;
  top: 2px;
  display: block;
  text-align: right;
  height: 0;
}

.code-link {
  font: inherit;
  color: $color-fg4;
  text-decoration: none;
  border: none;
  margin-left: 5px;

  font-size: 0.75em;
  i {
    margin-right: 2px;
  }

  &:hover {
    color: $color-fg0;
    cursor: pointer;
  }
}

.footer {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 120px;
  color: $color-bg4;
  font-size: 0.9em;
  font-family: "Fira Sans", monospace;
  text-align: center;

  a {
    border: none;
    font-family: "Fira Code", monospace;
    font-size: 0.9em;
  }

  i {
    width: 20px;
    text-align: center;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.thumb {
  display: block;
  user-select: none;
  border: 2px solid $color-bg2;
  border-radius: 5px;
  line-height: 1.1em;
  padding: 10px;
  margin: 0 10px 10px 10px;

  .thumb-icon {
    vertical-align: middle;
    font-size: 1.5em;
    color: $color-bg4;
    width: 1.4em;
  }

  .thumb-title {
    font-weight: 500;
    color: $color-yellow1;
    padding-bottom: 5px;
  }

  .thumb-desc {
    color: $color-fg3;
    font-weight: 300;
    font-size: 0.95em;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-bg0h;
    border-color: $color-bg4;

    .thumb-icon {
      color: $color-fg3;
    }

    .thumb-title {
      color: $color-fg;
    }

    .thumb-desc {
      color: $color-fg;
    }
  }
}

.read-time {
  position: relative;
  text-align: right;
  right: 10px;
  top: 10px;
  color: $color-fg4;
  font-style: italic;
}

.quote-header {
  color: $color-fg4;
  font-size: 0.9em;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  line-height: 1.56em;
  letter-spacing: 2px;
  margin: 0;
  border-bottom: 2px dotted;
  border-color: $color-fg4;
  padding: 5px 0 0 0;
  background-color: inherit;

  i {
    font-size: 0.9em;
    color: inherit;
    padding: 5px 0 0 0;
    margin: 0 5px 0 0;
  }
}

@media(max-width: $shrink-w) {
  .quote-header {
    font-size: 1.0em;
    padding-top: 10px;
    i {
      padding: 8px 0 0 0;
    }
  }
}

blockquote {
  background-color: $color-bg1;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 20px;

  h1 {
    @extend .quote-header;
    color: $color-green2;
    border-color: $color-green2;
  }

  h2 {
    @extend .quote-header;
    color: $color-blue2;
    border-color: $color-blue2;
  }

  h3 {
    @extend .quote-header;
    color: $color-yellow2;
    border-color: $color-yellow2;
  }

  i {
    font-size: 1.39em;
    color: $color-bg3;
    margin-right: 10px;
    float: left;
  }

  p {
    color: $color-fg3;
    font-weight: 400;
    font-style: italic;
    font-size: 1.0em;
    padding: 10px 0 10px 0;
  }
}

iframe {
  max-width: 100%;
  margin-bottom: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.has-meta {
  margin-bottom: 0;
}

.page-meta {
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 0.8em;
  color: $color-bg4;
}

#date {
  margin-right: 10px;
}