<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="Rust, Programming, Education, Tutorials, Learning, Crates">
    <meta name="author" content="Chevy Ray Johnston">
    <meta name="viewport" content="width=device-width" >
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/sheet.css">
</head>
<body>
    <div class="page-outer">
        <div class="page-side">
            <img src="/img/bars_2.png">
        </div>
        <div class="page-center">
            <div class="title-outer">
                <div class="title-side">
                    <img src="/img/bars_3.png">
                </div>
                <div class="title">
                    <img src="/img/title.png">
                </div>
                <div class="title-side">
                    <img src="/img/bars_3.png">
                </div>
            </div>
            <div class="content-outer">
                <div class="content-side"></div>
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
                <div class="content-side"></div>
            </div>
        </div>
        <div class="page-side">
            <img src="/img/bars_2.png">
        </div>
    </div>
</body>
</html>