<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if section %}
        {% if section.title == "Home" %}
            {% set title = config.title %}
            {% set desc = config.description %}
        {% else %}
            {% set title = config.title ~ " | " ~ section.title %}
            {% set desc = section.description %}
        {% endif %}
        {% set url = section.permalink %}
    {% elif page %}
        {% set title = config.title ~ " | " ~ page.title %}
        {% set desc = page.description %}
        {% set url = page.permalink %}
    {% else %}
        {% set title = config.title %}
        {% set desc = config.description %}
        {% set url = config.base_url %}
    {% endif %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:url" content="{{ url | safe }}">
    <meta property="og:image" content="{{ config.base_url | safe }}/img/brand/og_image.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@SchoolRust" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ desc }}" />
    <meta name="twitter:image" content="{{ config.base_url | safe }}/img/brand/twitter_image.png" />

    <meta name="keywords" content="Rust, Programming, Education, Tutorials, Learning, Crates">
    <meta name="author" content="Chevy Ray Johnston">
    <meta name="viewport" content="width=device-width" >
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/dark.css" id="sheet-link">
    <link rel="stylesheet" href="/syntax-dark.css" id="syntax-link">
    <link rel="stylesheet" href="/fa/brands.css">
    <link rel="stylesheet" href="/fa/fontawesome.css">
    <link rel="stylesheet" href="/fa/regular.css">
    <link rel="stylesheet" href="/fa/solid.css">
    <link rel="stylesheet" href="/fa/v4-shims.css">
    <script src="/js/mode-toggle.js"></script>
</head>
<body>
    <div class="upper flex-x ">
        <div class="upper-side fill "></div>
        <div class="title flex-x">
            <div class="title-side fill "></div>
            <a class="title-center" href="{{ config.base_url }}"></a>
            <div class="title-side fill "></div>
        </div>
        <div class="upper-side fill "></div>
    </div>
    <div class="lower flex-x ">
        <div class="fill"></div>
        <div class="lower-center flex-x">
            <div class="inner-side"></div>
            <div class="fill inner">
                <div class="nav-bar flex-x">
                    <div class="fill"></div>
                    {% include "nav-bar.html" %}
                    <div class="fill"></div>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
                {% include "footer.html" %}
            </div>
            <div class="inner-side"></div>
        </div>
        <div class="fill"></div>
    </div>
</body>
<script src="/js/code-snippets.js"></script>
<script src="/js/block-quotes.js"></script>
<script src="/js/date-formatter.js"></script>
</html>