<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if section %}
        <title>{{ config.title }} | {{ section.title }}</title>
        <meta name="description" content="{{ section.description }}">
    {% elif page %}
        <title>{{ config.title }} | {{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
    {% else %}
        <title>{{ config.title }}</title>
        <meta name="description" content="{{ config.description }}">
    {% endif %}
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="Rust, Programming, Education, Tutorials, Learning, Crates">
    <meta name="author" content="Chevy Ray Johnston">
    <meta name="viewport" content="width=device-width" >
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/sheet.css">
</head>
<body>
    <div class="upper">
        <div class="upper-side"></div>
        <div class="title">
            <div class="title-side"></div>
            <div class="title-center"></div>
            <div class="title-side"></div>
        </div>
        <div class="upper-side"></div>
    </div>
    <div class="lower">
        <div class="lower-side"></div>
        <div class="lower-center">
            <div class="inner-side"></div>
            <div class="inner">
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            <div class="inner-side"></div>
        </div>
        <div class="lower-side"></div>
    </div>
</body>
</html>