{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

{% set section = get_section(path="crates/_index.md") %}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

<div class="flex-x crate-block">
    <div class="crate-list">
        {% include "crate-list.html" %}
    </div>
    <div class="fill crate-info">
        {% if page %}
            <h2>{{ page.title }}</h2>
            <div class="flex-x crate-info-links">
                {{ macros::crate(url=page.extra.github, icon="fab fa-github", text="github") }}
                {{ macros::crate(url=page.extra.crate, icon="fa fa-box-open", text="crates.io") }}
                {{ macros::crate(url=page.extra.docs, icon="fa fa-book", text="docs") }}
            </div>
        {% if page.description and false %}
        <blockquote>
            <p><i class="fa {{ page.extra.icon }}"></i> {{ page.description }}</p>
        </blockquote>
        {% endif %}
            {{ page.content | safe }}
        {% else %}
            <p><i class="fa fa-arrow-left"></i> Select a crate on the left for details</p>
        {% endif %}
    </div>
</div>


{% endblock content %}