<p id="feedback">

    {% if page %}
        {% set path = page.relative_path %}
    {% else %}
        {% set path = section.relative_path %}
    {% endif %}

    Feedback is always welcome on our <a href="https://discord.gg/vdPK7ztcD2" target="_blank"><i class="fa-brands fa-discord"></i>&nbsp;Discord</a>.
    If you have a suggested change or have found an error, you can also visit the
    <a href="https://github.com/School-of-Rust/school-of-rust/tree/main/content/{{ path }}" target="_blank"><i class="fa-brands fa-github"></i>&nbsp;source code for this page</a>,
    where you can file an issue directly or submit a pull request.
</p>