<div class="footer">
    <p>2022 &copy; Chevy Ray Johnston</p>
    <p>
        <i class="ri-discord-fill"></i> <a href="https://discord.gg/wwrFVYaqhr" target="_blank">discord</a>
        <i class="ri-twitter-fill"></i> <a href="https://twitter.com/SchoolRust" target="_blank">twitter</a>
        <i class="ri-github-fill"></i> <a href="https://github.com/school-of-rust" target="_blank">github</a>
    </p>
    <p>
        <i class="ri-mail-fill"></i> <a href="mailto:happytrash@gmail.com" target="_blank">happytrash@gmail.com</a>
    </p>
    <p>
        <i class="ri-rss-fill"></i> <a href="/rss.xml" target="_blank">RSS</a>
        &nbsp;&bull;&nbsp;
        Powered by <a href="https://www.getzola.org" target="_blank">Zola</a>
    </p>
    <p class="light-dark">
        <i id="light-mode" class="ri-sun-fill mode-off" title="Light mode"></i>
        <i id="dark-mode" class="ri-moon-fill mode-on" title="Dark mode"></i>
    </p>
</div>