<div class="footer">
    <p>2021 &copy; Chevy Ray Johnston</p>
    <p>
        <i class="fab fa-discord"></i> <a href="https://discordapp.com/users/xxxx/98628072282009600" target="_blank">discord</a>
        <i class="fab fa-twitter"></i> <a href="https://twitter.com/chevyray" target="_blank">github</a>
        <i class="fab fa-github"></i> <a href="https://github.com/chevyray" target="_blank">twitter</a>
    </p>
    <p>
        <i class="fa fa-envelope"></i> <a href="https://github.com/chevyray" target="_blank">happytrash@gmail.com</a>
    </p>
    <p>
        Powered by <a href="https://www.getzola.org" target="_blank">Zola</a>
    </p>
    <p>
        <i class="fa fa-sun"></i> <i class="fa fa-moon"></i>
    </p>
</div>