<div class="footer">
    <p>2021 &copy; Chevy Ray Johnston</p>
    <p>
        <i class="fab fa-discord"></i> <a href="https://discord.gg/wwrFVYaqhr" target="_blank">discord</a>
        <i class="fab fa-twitter"></i> <a href="https://twitter.com/SchoolRust" target="_blank">twitter</a>
        <i class="fab fa-github"></i> <a href="https://github.com/school-of-rust" target="_blank">github</a>
    </p>
    <p>
        <i class="fa fa-envelope"></i> <a href="mailto:happytrash@gmail.com" target="_blank">happytrash@gmail.com</a>
    </p>
    <p>
        <i class="fa-solid fa-rss"></i> <a href="/rss.xml" target="_blank">RSS</a>
        &nbsp;&bull;&nbsp;
        Powered by <a href="https://www.getzola.org" target="_blank">Zola</a>
    </p>
    <p>
        <i id="light-mode" class="fa fa-sun mode-off"></i>
        <i id="dark-mode" class="fa fa-moon mode-on"></i>
    </p>
</div>