{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    {% set icon = page.extra.icon | default(value="fa-solid fa-graduation-cap") %}
    <h1 class="has-meta"><i class="{{ icon }}"></i> {{ page.title }}</h1>
    <div class="page-meta">
        <i class="fa-solid fa-calendar-days"></i> <span id="date">{{ page.date }}</span>
        <i class="fa-solid fa-clock"></i> {{ page.reading_time }} minute read
    </div>
    <div>
        Path: {{ page.path }}
    </div>

    {{ page.content | safe }}

    <div class="flex-x">
        {% if page.lighter %}
            <h1 class="fill prev">Prev Lesson</h1>
        {% endif %}
        {% if page.heavier %}
            <h1 class="fill next">Next Lesson</h1>
        {% endif %}
    </div>

    <div class="flex-x">
        <div class="fill">
            {% if page.lighter %}
                {% set icon = page.lighter.extra.icon | default(value="fa-solid fa-graduation-cap") %}
                {{ macros::thumbnail(title=page.lighter.title, desc=page.lighter.description, icon=icon, link=page.lighter.permalink) }}
            {% endif %}
        </div>
        <div class="fill">
            {% if page.heavier %}
                {% set icon = page.heavier.extra.icon | default(value="fa-solid fa-graduation-cap") %}
                {{ macros::thumbnail(title=page.heavier.title, desc=page.heavier.description, icon=icon, link=page.heavier.permalink) }}
            {% endif %}
        </div>
    </div>

{% endblock content %}