{% macro thumbnail(title, desc, icon, link, date) %}
    <a class="thumb", href="{{ link }}">
        <table><tbody><tr>
            <td class="thumb-icon">
                <i class="{{ icon }}"></i>
            </td>
            <td>
                <div class="thumb-title">{{ title }}</div>
                <div class="thumb-desc">{{ desc }}</div>

                {% if date %}
                    <div class="thumb-date">Posted <span class="date">{{ date }}</span></div>
                {% endif %}
            </td>
        </tr></tbody></table>
    </a>
{% endmacro thumbnail %}

{% macro crate(url, icon, text) %}
    {% if url %}
        {% set disabled = "" %}
    {% else %}
        {% set disabled = "disabled" %}
    {% endif %}
    <a class="fill {{ disabled }}" href="{{ url }}" target="_blank"><i class="{{ icon }}"></i> <div>{{ text }}</div></a>
{% endmacro crate %}

{% macro prev_next(prev, next, singular) %}
    <p>
        <div class="prev-next flex-x">
            <div class="prev fill">
                {% if prev %}
                    <div>
                        <i class="fa-solid fa-arrow-left-long"></i> Prev {{ singular }}
                    </div>
                    <a href="{{ prev.permalink }}">
                        {% set icon = prev.extra.icon | default(value="fa-solid fa-question") %}
                        <i class="{{ icon }}"></i> {{ prev.title }}
                    </a>
                {% endif %}
            </div>
            <div class="next fill">
                {% if next %}
                    <div>
                        Next {{ singular }} <i class="fa-solid fa-arrow-right-long"></i>
                    </div>
                    <a href="{{ next.permalink }}">
                        {% set icon = next.extra.icon | default(value="fa-solid fa-question") %}
                        <i class="{{ icon }}"></i> {{ next.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    </p>
{% endmacro prev_next %}

{% macro lesson_rank(name, rank, ico) %}
    <h2><i class="{{ ico }}"></i> {{ name }}</h2>
    {% for sect_name in section.subsections %}
        {% set sect = get_section(path=sect_name) %}
        {% if sect.extra.rank == rank %}
            {% set icon = sect.extra.icon | default(value="fa-solid fa-graduation-cap") %}
            {{ macros::thumbnail(title=sect.title, desc=sect.description, icon=icon, link=sect.permalink, date = "") }}
        {% endif %}
    {% endfor %}
    {% for page in section.pages %}
        {% if page.extra.rank == rank %}
            {% set icon = page.extra.icon | default(value="fa-solid fa-question") %}
            {{ macros::thumbnail(title=page.title, desc=page.description, icon=icon, link=page.permalink, date = page.date) }}
            {{ page.summary | safe }}
        {% endif %}
    {% endfor %}
{% endmacro lesson_rank %}