{% set sect = get_section(path="_index.md") %}
{% if current_path == sect.path %}
    {% set selected = "underline selected" %}
{% else %}
    {% set selected = "" %}
{% endif %}
<a href="{{ sect.permalink }}" class="nav-link {{ selected }}">
    <div><i class="{{ sect.extra.icon }}"></i></div>
    <div>{{ sect.title }}</div>
</a>
{% for sect_name in sect.subsections %}
    {% set sect = get_section(path=sect_name) %}
    {% if current_path == sect.path %}
        {% set selected = "underline selected" %}
    {% elif sect.path in current_path %}
        {% set selected = "underline" %}
    {% else %}
        {% set selected = "" %}
    {% endif %}
    <a href="{{ sect.permalink }}" class="nav-link {{ selected }}">
        <div><i class="{{ sect.extra.icon }}"></i></div>
        <div>{{ sect.title }}</div>
    </a>
{% endfor %}