{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    {% set icon = page.extra.icon | default(value="fa-solid fa-graduation-cap") %}
    <h1 class="has-meta"><i class="{{ icon }}"></i> {{ page.title }}</h1>
    <div class="page-meta">
        <i class="fa-solid fa-calendar-days"></i> <span id="date">{{ page.date }}</span>
        <i class="fa-solid fa-clock"></i> {{ page.reading_time }} minute read
    </div>

    {{ page.content | safe }}

    <p>

        {% if page.lighter %}
            {% set prev = page.lighter %}
        {% else %}
            {% set prev = page.earlier %}
        {% endif %}
        {% if page.heavier %}
            {% set next = page.heavier %}
        {% else %}
            {% set next = page.later %}
        {% endif %}

        <div class="prev-next flex-x">
            <div class="prev fill">
                {% if prev %}
                    <div>
                        <i class="fa-solid fa-arrow-left-long"></i> Prev Lesson
                    </div>
                    <a href="{{ prev.permalink }}">
                        {% set icon = prev.extra.icon | default(value="fa-solid fa-graduation-cap") %}
                        <i class="{{ icon }}"></i> {{ prev.title }}
                    </a>
                {% endif %}
            </div>
            <div class="next fill">
                {% if next %}
                    <div>
                        Next Lesson <i class="fa-solid fa-arrow-right-long"></i>
                    </div>
                    <a href="{{ next.permalink }}">
                        {% set icon = next.extra.icon | default(value="fa-solid fa-graduation-cap") %}
                        <i class="{{ icon }}"></i> {{ next.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    </p>

    <hr>

    <p id="feedback">
        Feedback is always welcome on our <a href="https://discord.gg/vdPK7ztcD2" target="_blank"><i class="fa-brands fa-discord"></i>&nbsp;Discord</a>.
        If you've found an error or a typo, you can also submit a
        <a href="https://github.com/School-of-Rust/school-of-rust/tree/main/content/{{ page.relative_path }}"><i class="fa-brands fa-github"></i>&nbsp;pull request</a>
        to this page directly.
    </p>

{% endblock content %}