{% set icon = page.extra.icon | default(value="ri-question-fill") %}
<h1 class="has-meta"><i class="{{ icon }}"></i> {{ page.title }}</h1>
<div class="page-meta">
    {% if page.updated %}
        {% set prefix = "Updated" %}
        {% set date = page.updated %}
    {% else %}
        {% set prefix = "Posted" %}
        {% set date = page.date %}
    {% endif %}
    <i class="ri-calendar-event-fill"></i> {{ prefix }} <span class="date">{{ date }}</span>
    <i class="ri-time-fill"></i> {{ page.reading_time }} minute read
</div>