{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

    <h1><i class="{{ section.extra.icon }}"></i> {{ section.title }}</h1>

    {{ section.content | safe }}

    {% for page in section.pages %}
        {% set icon = page.extra.icon | default(value="fa-solid fa-question") %}
        {{ macros::thumbnail(title=page.title, desc=page.description, icon=icon, link=page.permalink, date = page.date) }}
        {{ page.summary | safe }}
    {% endfor %}

    {% for sect_name in section.subsections %}
        {% set sect = get_section(path=sect_name) %}
        {% set icon = sect.extra.icon | default(value="fa-solid fa-graduation-cap") %}
        {{ macros::thumbnail(title=sect.title, desc=sect.description, icon=icon, link=sect.permalink, date = "") }}
    {% endfor %}

    {% include "feedback.html" %}

{% endblock content %}